* {
  font-family: Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001030;
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 55px;
  text-align: center;
  margin: 70px 0 25px 0;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

h6 {
  font-size: 16px;
  text-align: center;
}

.header-link {
  text-decoration: none;
  opacity: 60%;
  transition: opacity 0.5s ease-out;
}

.header-link:hover,
.header-link:focus {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  opacity: 100%;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

/* Background Graphics Animations */
@keyframes float {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-50px, 50px) scale(1.1);
  }
}

@keyframes floatReverse {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(50px, -50px) scale(1.1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes rotateTriangle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
